body{
        background:#011627;
        color:#fdfffc;
        text-align:center;
        border:40px solid #2EC486;
        
        border-top: 0px;
        margin:0px;
        font-family:sans-serif;
    
}

p{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

form{
       font-size:2.0em;
       margin:25px;
       font-family: serif;
}


#sub{
      height: 50px;
      width:100px;
     background: orange;
     margin: 10px auto;
    border-radius: 20px;
    font-family: sans-serif;
    font-size:20px;
    
}