 p{
    text-align:center; 
    font-weight: 800;
    font-size:30px;
    border-bottom:2px solid red;
    padding-bottom: 15px;
}

img{
    
    height:150px;
    width:30%;
    float:left;
    margin:1.4%;
}
img:hover{
    border:2px red solid;
}