header h1{
    font-family: 'Slabo 27px', serif;
    text-align:center;
}

footer h1{
    
    font-family: 'Slabo 27px', serif;
    text-align:center;
}
.tab{
    margin:auto;
}
td{
    height:300px;
    width:150px;
    border:5px solid black;
}
#one{
    background:#9400D3;
}

#two{
    background:#4B0082;
    }

#three{
    background:#0000FF;
}

#four{
    background:#00FF00;
}
#five{
    background:#FFFF00;
}

#six{
    background:#FF7F00;
}
#seven{
    background:#FF0000;
}





























